<h1>
  <div class="top-menu">
    <div class="logo">
      Contact Manager Application
      <img id="orangeLogo" src="/../images/ContactManLogo.png" alt="Logo" />
    </div>
  </div>
</h1>

<!-- <nav>
  <button routerLink="">Home</button>
  <button routerLink="contact">Edit</button>
</nav> -->

<router-outlet></router-outlet>

<!-- <div class="container">
  <div class="col-12">
    <div class="action-buttons">
      <button class="btn btn-primary">Add Contact</button>
    </div>
    <div class="action-buttons">
      <button class="btn btn-primary">List Contacts</button>
    </div>
  </div>

  <div class="col-12">
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
    <app-contact-card></app-contact-card>
  </div>
</div> -->



<footer class="bg-body-tertiary text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0)">
    &copy; My Website for Assignment 4. All rights reserved
    <a class="text-body" href="https://mdbootstrap.com/"></a>
  </div>
</footer>
